security:
    encoders:
      App\Entity\User:
        algorithm: bcrypt

    providers:
        db_provider:
          entity:
            class: App\Entity\User
            property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            provider: db_provider

    access_control:
         - { path: ^/admin, roles: ROLE_ADMIN }
        # - { path: ^/profile, roles: ROLE_USER }
