{% extends 'base.html.twig' %}

{% block main %}
    <h1>Welcome to Admin Panel!</h1>
    <a href="{{ path('logout') }}">Logout</a>

    <nav>
        <ul>
        {% if is_granted('ROLE_REDACTOR') %}
            <li><a href="{{ path('post_create') }}">Create post</a></li>
        {% endif %}
            <li><a href="#">View posts</a></li>
        </ul>
    </nav>
{% endblock %}